[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyzmq = "*"
tornado = "*"
sqlalchemy = "*"

[dev-packages]
"flake8" = "*"
isort = "*"
pylint = "<2.0.0"
"autopep8" = "*"
pytest = "*"

[requires]
python_version = "3.5"
